*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*https://medium.com/@stasonmars/современный-сброс-css-f5816963c82b*/

body {
  font-family: "Open Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
a:link {
  text-decoration: none;
}
.desktop_hide {
  display: none !important;
}
.block {
  max-width: 1170px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}
.btn,
.btn:link {
  padding: 0;
  border: 0;
  padding-top: 14px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 195px;
  height: 45px;
  border-radius: 5px;
  background-color: #e14744;
  color: white;
  line-height: 100% !important;
}
.btn:hover {
  color: white;
  background-color: #d62a13;
}
.btn_border {
  border: 1px solid white !important;
}
button.btn {
  padding: 0 !important;
}
h3 {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 44px;
}

/*hack т.к. swiperjs в хроме не показывает кнопки-уголки, а точки сильно прижаты к контенту*/
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px !important;
  /*height: 40px!important;*/
}
.swiper1,
.swiper2 {
  overflow: visible !important;
}
.block.recommend,
.block.partners {
  overflow: hidden;
}
.row_call {
  background-color: #e14744;
}
.call {
  padding-top: 65px;
  padding-bottom: 60px;
  color: white;
  line-height: 200%;
  /*111*/
}
.call_header {
  font-size: 41px;
  font-weight: 700;
  color: white;
  letter-spacing: -1px;
  padding-bottom: 16px;
}
.call_btn_column {
  text-align: right;
}
.call_btn {
  /*float: right;*/
  margin-top: 37px;
  display: inline-block !important;
}
.cat_filter {
  background-color: #dbe4ea;
}

.cat_filter_toggle {
  font-size: 18px;
  /*border-bottom: 1px dashed grey;*/
  display: none;
  cursor: pointer;
  user-select: none;
  float: right;
  margin-top: 38px;
}
.cat_filter_icon {
  width: 34px;
  border: 1px solid grey;
  padding: 5px;
  transition: all 0.5s;
}
.cat_filter_icon:hover {
  /*border: 1px solid red;*/
}
.cat_filter label {
  user-select: none;
}
.cat_filter_name {
  color: grey;
}
.cat_filter_value {
  margin-left: 10px;
}
.cat_filter_value input {
  margin-right: 5px;
}
.cat_listing h2 {
  font-size: 20px;
  font-weight: bold;
}
.cat_item {
  background-color: #f6f9fa;
  width: 100%;
  max-width: 360px;
  text-align: center;
  overflow: auto;
  border: 1px solid #f6f9fa;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cat_item_img {
  width: 100%;
}
.cat_item_model {
  font-size: 120%;
  font-weight: bold;
}
.cat_item_call {
  margin: auto !important;
  margin-bottom: 5px !important;
}

a.cat_item_more:link,
a.cat_item_more:visited {
  margin: auto !important;
  margin-bottom: 25px !important;
  background-color: #3367b2 !important;
}

.delivery {
  margin-bottom: 70px;
}
.delivery_truck {
  width: 670px;
  margin-top: 40px;
  max-width: 100%;
}

.delivery_form_title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-weight: 700;
}
.delivery_form_text {
  text-align: center;
  margin-bottom: 20px;
}
.delivery_form_label {
  font-size: 15px;
  margin-top: 15px;
}
.delivery_form {
  color: white;
}
.delivery_form_input {
  width: 100%;
  font-size: 150%;

  margin-top: 5px;
}
.delivery_form_column {
  padding: 40px 50px;
  background-color: #3367b2;
}
.delivery_form_checkbox_label {
  font-size: 12px;
  margin-bottom: 10px;
}
.delivery_form_checkbox {
  margin-right: 5px;
}
.btn_delivery {
  width: 100%;
  margin-top: 15px;
}
.row_foot {
  background-color: #054d6e;
}
.foot_logo {
  width: 200px;
}
.foot a:link,
.foot a:visited {
  color: white;
}
.foot {
  line-height: 200%;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 60px;
  color: white;
}
.footer_ico {
  height: 12px;
  margin-right: 5px;
}
.header {
  margin-top: 12px;
  margin-bottom: 12px;
  user-select: none;
}
.header_logo_column {
  position: relative;
  height: 45px;
}
.header_logo {
  position: absolute;
  width: 40px;
  top: -6px;

  left: 46px;
}

.header_logo_big {
  width: 272px;
}

.header_mobile_menu {
  /*content:'\2630';*/
  width: 45px;
  cursor: pointer;
  font-size: 40px;
  color: grey;
  display: inline-block;
  vertical-align: bottom;
}

a.header_phone:link,
a.header_phone:visited {
  color: grey;
  font-size: 20px;
  display: block;
  padding-top: 17px;
}

.header_phone_column {
  text-align: right;
}

.header_column_btn {
  text-align: center;
  padding-top: 22px;
}

.header_search {
  margin-left: 20px;
  width: 170px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #c9c9c9;
  border-right-color: #fff;
  padding: 3px 10px;

  color: #2f2f2f;

  /*background-image: url('gfx/ico_search.png');*/

  background-position-y: -2px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 33px;

  background-position: right 10px top -1px;
}
.header_search_form {
  display: inline-flex;
  margin-top: 16px;
}
.header_search_submit {
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid #c9c9c9;
  border-left-color: #c9c9c9;
  height: 32px;
}
.header_search_submit img {
  /*margin-top: 2px;*/
  width: 30px;
}
/*.swiper-container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.swiper-slide {
  /*text-align: center;*/
  /*font-size: 18px;*/
  /*background: #fff;*/

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.row_nav {
  background-color: #004368;
  border-bottom: 3px solid white;
  /*height: 51px;*/
}
.nav {
  font-size: 16px;
}
.nav a:link,
.nav a:visited {
  color: white;
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
}
.nav a:hover {
  text-decoration: underline;
}
.nav_search {
  width: 93% !important;
}
.nav .header_search_form {
  display: none;
}
/* https://codepen.io/designcouch/pen/Atyop */
.pda_menu {
  width: 35px;
  height: 45px;
  position: absolute;
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  vertical-align: bottom;
  margin-right: 5px;
}

.pda_menu span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #004368;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.pda_menu.open {
  top: -5px !important;
}
.pda_menu span:nth-child(1) {
  top: 0px;
}

.pda_menu span:nth-child(2) {
  top: 12px;
}

.pda_menu span:nth-child(3) {
  top: 24px;
}

.pda_menu.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.pda_menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.pda_menu.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.row_news {
  background-color: rgba(133, 127, 122, 0.08);
}
.news {
  padding-bottom: 100px;
}
.news_item {
  background-color: #fff;
  border: 1px solid #ccc;
  /*margin: 0 17px 0 17px;*/
  position: relative;
  padding: 10px;
  width: 100%;
  max-width: 360px;
  margin: 0 20px 0 20px;
}
.news_date {
  font-size: 12px;
  margin-top: 10px;
}
a.news_more {
  color: #e14744;
  border-bottom: 1px solid;
  position: absolute;
  font-size: 12px;
  right: 10px;
  bottom: 13px;
}
.news h3 {
  margin-top: 53px;
}
.news h4 {
  font-size: 14px;
  margin-top: 13px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.news img {
  width: 100%;
}
.partners {
  padding-top: 53px;
  padding-bottom: 108px;
}
.partners h3 {
  margin: 0;
}
.partners_item {
  /*border: 1px solid #cccccc;*/
  height: 147px;
  margin: 0 17px 0 17px;
  text-align: center;
  padding-top: 48px;
}
.popular {
  margin-top: 110px;
  margin-bottom: 66px;
}

.popular_item {
  /*position: relative;*/
  width: 100%;
  max-width: 360px;
  height: 506px;
  /*border-radius: 3px;*/
  margin: 0 20px 0 20px;
  text-align: center;
  border: 1px solid #cccccc;
  padding-top: 83px;
  position: relative;
}
.popular img {
  max-width: 260px;
  width: 100%;
}
.popular_img1 {
  /*max-width: 240px!important;*/
}
.popular_item_txt {
  text-align: left;
  padding-left: 10px;
  line-height: 200%;
}
.popular_item_brand {
  color: #a8a5a5;
  font-weight: bold;
}
.popular_item_model {
  font-weight: bold;
}
.popular_item_type {
  color: #272727;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  display: inline-block;
  border: 1px solid #cccccc;
}
.popular_item_hit {
  position: absolute;
  text-transform: uppercase;
  border: 1px solid #78bd24;
  padding: 0px 8px;
  /*font-weight: bold;*/
  color: #78bd24;
  font-size: 13px;
  right: 20px;
  top: 20px;
}
.row_bg_grey {
  background-color: #f5f5f5;
}
.promo_items {
  text-align: center;
}
.promo_items h4 {
  font-weight: bold;
  font-size: 19px;
  margin-top: 32px;
}
.promo_img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.promo_img {
  position: relative;

  box-shadow: -1px 9px 9px rgba(121, 111, 105, 0.21);
  border-radius: 3px;
  background-color: #ffffff;
  margin: auto;
  width: 165px;
  height: 165px;
}
.recommend {
  padding: 60px 0;
}

.recommend_column_img {
  background-color: #fff;
}
.row_recommend {
  background-color: rgba(239, 243, 249, 0.83);
}
.recommend_brand {
  font-weight: bold;
  /*color: lightgrey;*/
  color: #a8a5a5;
}
.recommend_model {
  font-weight: bold;
}
.recommend_txt {
  padding-top: 70px;
  padding-left: 30px;
  display: inline-block;
  width: 50%;
}
.recommend_column_img {
  display: inline-block;
  width: 50%;
}
.recommend_item {
  border: 1px solid lightgrey;
  margin: 0 10px;
  background-color: #f6f5f5;

  width: 50%;
}
.recommend img {
  width: 100%;
}
.recommend .column {
  /*margin: 0;*/
  /*padding: 0;*/
}
.recommend_link,
recommend_link:link {
  margin-top: 30px;
  display: inline-block;
  border: 1px solid grey;
  padding: 4px 8px;
  color: grey;
}
.slider {
  height: 670px;
}

/* хак т.к надо красный круг выводить по разному на мобильном и десктопе */
.slider .columns {
  flex-direction: row-reverse;
}

.slider_column1 {
  padding-top: 166px;
}
.slider_column1 h1 {
  font-size: 58px;
  /*font-size: 5vw;*/
  color: white;
  font-weight: 800;
  line-height: 106%;
}
.row_slider {
  background-image: url("../gfx/bg_metal_cut_man.jpg");
  background-size: cover;
}
.slider_text {
  color: #fff;
  font-size: 19px;
  padding-top: 21px;
  letter-spacing: -1px;
}
.slider_btn {
  margin-top: 35px;
}
.slider_circle {
  /*float: right;*/
  width: 100%;
  /*min-width: 100px;*/
  /*max-width: 330px;*/
  margin-top: 47px;
}
.welcome {
  font-size: 20px;
}
.welcome h2 {
  font-size: 46px;
  font-weight: bold;
  margin-top: 63px;
}
.welcome_text {
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .desktop_hide {
    display: inline-block !important;
  }
  .mob_hide {
    display: none;
  }

  .block {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .columns {
    margin: 0 !important;
  }
  .column {
    padding: 0;
  }
  .slider {
    height: initial;
  }

  .slider_column1 {
    padding: 0;
  }

  .welcome h2 {
    margin: 0;
    font-size: 30px;
  }

  .welcome {
    line-height: initial;
  }

  .partners_item {
    border: 0;
    margin: 0;
    padding-top: 10px;
  }

  .slider_column1 h1 {
    font-size: 25px;
  }
  .slider_circle {
    width: 80%;
    max-width: 300px;
  }

  .call_header {
    font-size: 25px;
  }

  .header_column_btn {
    display: none;
  }

  .header {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .header_search {
    margin-left: 12px;
    /*margin-top: 15px;*/
    /*margin-right: 0px;*/
    /*margin-bottom: 20px;*/
    /*margin-left: 10px;*/
  }
  .nav .header_search_form {
    display: inline-flex;
    margin-bottom: 20px;
  }
  .nav .header_search {
    width: 260px;
  }
  .header .column {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .header_logo {
    margin-top: 0;
  }
  .header_phone {
    position: absolute;
    top: 14px;
    right: 12px;
    padding: 0 !important;
  }
  .row_nav {
    height: initial;
    border: none;
  }
  .nav a {
    display: block !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0 !important;
    border-bottom: 1px solid #3f7695;
  }
  .nav {
    display: none;
  }
  .nav_active_pda {
    display: block;
  }
  .promo_items {
    margin-bottom: 20px;
  }
  .popular {
    margin-top: 0;
    margin-bottom: 0;
  }
  .popular h3 {
    margin-bottom: 0px;
  }

  .popular_item {
    margin: 0 0 30px 0;
    border: 0;
    padding: 0;
    height: initial;
  }
  .popular_item_hit {
    color: #fff;
    background-color: #78bd24a6;
  }
  .call {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: initial;
  }
  .call_btn_column {
    text-align: left;
  }
  .news h3 {
    margin: 10px 0;
  }
  .news_item {
    padding: 10px;
    margin: 0 0 10px;
  }
  .delivery {
    margin-bottom: 0;
  }
  .delivery h3 {
    margin: 0;
  }
  .delivery_truck {
    margin: 10px 0;
  }
  .delivery_form_title {
    font-size: 22px;
  }
  .delivery_form_column {
    padding: 10px;
  }
  .recommend h3 {
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .recommend_txt {
    padding: 20px;
  }
  .recommend_item {
    margin: 0 0 30px 0;
  }
  .recommend_link,
  recommend_link:link {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .cat_filter {
    padding: 10px;
  }
  .cat_filter_toggle {
    display: inline-block;
  }
  .cat_filter_wrapper {
    display: none;
  }
  .cat_item {
    margin-right: 0;
  }
  .cat_filter {
    background-color: white !important;
  }

  .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    height: 40px !important;
  }
}

/* sagdinov     */
/* owl  */

/* rec  */
.srecommend_item {
  display: flex;
}
/* /sagdinov  */
